@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
background-color: #101820FF;
color: #FEE715FF;
margin-left: 38rem;
margin-top: 3rem;
}

/* 
form{
  margin: 3rem;
} */

button{
  cursor: pointer;
  margin: 1rem 0rem;
}

h1{
  font-size: 2rem;
  font-family: "Pacifico", cursive;
}
